@import './mixins.scss';
@import "../assets/css/foundation.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#app {
  min-width: 100%;
  min-height: 100%;

  width: 100%;
  height: auto;
}

[type='text'] {
  margin: 0;
  height: unset;
  box-shadow: none;

  &:focus { border: unset; box-shadow: none; }
}

.md-focused {
  & .icon > svg > path { fill: #639d31; }
}

.label {
  color: unset !important;
  background: unset !important;
  padding: unset !important;
}

.md-field.md-theme-default.md-focused .md-input { color: black !important; } // cursor color
.md-field.md-theme-default:before { background-color: #639d31 !important; } // border-bottom color

.md-checkbox {
  margin: 0;
  max-width: 100%;
  overflow: hidden;

  & > .md-checkbox-label {
    height: unset;
    font-size: 13px;
    @include truncate;
  }

  &.md-checked > .md-checkbox-container {
    border-color: transparent !important;
    background-color: #119c9f !important;
  }

  & > .md-checkbox-container {
    align-self: center;
    background-color: white !important;
    border: 1px solid rgba(0,0,0,0.54) !important;

    & > .md-ripple { height: 20px !important; }

    &::after {
      top: 2px !important;
      left: 6px !important;
      width: 7px !important;
      height: 11px !important;
    }

    &::before {
      height: 20px !important;
    }

    &:hover { border: 1px solid #119c9f !important; }
  }
}

::selection {
  color: unset !important;
  background: unset !important;
}

::-moz-selection {
  color: unset !important;
  background: unset !important;
}

.grid-margin-y > .cell {
  margin-top: 7.5px !important;
  margin-bottom: 7.5px !important;
}