$responsive_breakpoints: (
  xs-mobile:  0px,
  mobile: 576px,
  tablet:  1025px,
  desktop: 1225px
);

@mixin xs-mobile {
  @media only screen and (max-width: #{map-get($responsive_breakpoints, mobile) - 1px}) { @content; }
}

@mixin mobile($up: false) {
  @if $up {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, mobile)}) { @content; }
  } @else {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, mobile)})
      and (max-width: #{map-get($responsive_breakpoints, tablet) - 1px}) { @content; }
  }
}

@mixin tablet($up: false) {
  @if $up {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, tablet)}) { @content; }
  } @else {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, tablet)})
      and (max-width: #{map-get($responsive_breakpoints, desktop) - 1px}) { @content; }
  }
}

@mixin desktop {
  @media only screen and (min-width: #{map-get($responsive_breakpoints, desktop)}) { @content; }
}

@mixin responsive ($media1, $media2) {
  @if $media1 == xs-mobile and $media2 == mobile {
    @media only screen and (max-width: #{map-get($responsive_breakpoints, tablet) - 1px})
    { @content; }
  } @else if $media1 == xs-mobile and $media2 == tablet {
    @media only screen and (max-width: #{map-get($responsive_breakpoints, desktop) - 1px})
    { @content; }
  } @else if $media1 == mobile and $media2 == tablet {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, mobile)})
      and (max-width: #{map-get($responsive_breakpoints, desktop) - 1px}) { @content; }
  } @else if $media1 == mobile and $media2 == desktop {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, mobile)})
    { @content; }
  } @else if  $media1 == tablet and $media2 == desktop {
    @media only screen and (min-width: #{map-get($responsive_breakpoints, tablet)})
    { @content; }
  }
}

@function set-radial-gradient($color: $primary-color-map) {
  $light-color: map-get($color, light);
  $dark-color: map-get($color, dark);

  @return radial-gradient(ellipse at top left, $light-color, $dark-color);
}

@mixin text {
  color: $text-color;
  font-weight: bold;
  font-size: $font-size;
  font-family: $font-family;
}

@mixin truncate ($width: 100%) {
  overflow: hidden;
  max-width: $width;
  white-space: nowrap;
  text-overflow: ellipsis;
}
